B0 BITMAP DB0.bmp
B1 BITMAP B1.bmp
B2 BITMAP B2.bmp
B3 BITMAP B3.bmp
B4 BITMAP B4.bmp
W0 BITMAP DW0.bmp
W1 BITMAP DW1.bmp
W2 BITMAP DW2.bmp
W3 BITMAP DW3.bmp
W4 BITMAP DW4.bmp
W5 BITMAP W0.bmp
W6 BITMAP W1.bmp
W7 BITMAP W2.bmp
W8 BITMAP W3.bmp
W9 BITMAP W4.bmp
W10 BITMAP W5.bmp
W11 BITMAP W6.bmp
W12 BITMAP W7.bmp
W13 BITMAP W8.bmp
W14 BITMAP W9.bmp
W15 BITMAP W10.bmp
W16 BITMAP W11.bmp
W17 BITMAP W12.bmp
W18 BITMAP W13.bmp
W19 BITMAP W14.bmp
W20 BITMAP W15.bmp
W21 BITMAP W16.bmp
W22 BITMAP W17.bmp
W23 BITMAP W18.bmp
W24 BITMAP W19.bmp